/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

/* BASIC */

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--lightGray);
}

/* STYLES */

.card {
  border-radius: 20px;
  width: 295px;
  height: 480px;
  gap: 25px;
  padding: 15px;
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.card__img {
  object-fit: cover;
  width: 270px;
  border-radius: 9px;
}

.card__text {
  color: var(--grayishBlue);
  text-align: center;
  font-size: 15px;
  font-family: 'Outfit';
  font-weight: 400;
}

.card__title {
  color: var(--darkBlue);
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 15px;
}
